body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

h1 {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
}

/* Contenedor principal */
.game {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

/* Texto de información */
.game p {
    font-size: 32px;
    margin: 10px 0;
}

.reset-button {
	margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
	font-weight: bold;

}

.reset-button:hover {
    background-color: #0056b3;
}

.reset-button:active {
    transform: scale(0.5);
}
